
/* USE THIS TO DEBUG CSS */

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
 */

/* GLOBAL FONTS */
#navBrand, .working, h3, li, #contactInfo, .copyright, .footerTxt, .aboutHeading, #about, .hvr-curl-top-left, .introTXT, .skillText, .html, .css, .js, .pie, h2, .React, .flutter, .Angularjs{
    /*Fredricka is a great font*/  
    /* font-family: 'Fredericka the Great', sans-serif; */
     font-family: 'Julius Sans One'; 
    /* font-family: 'Unica One'; */
    

}
body{
    overflow-x: hidden;
    background-color: #f5f5f5;
}
#navBrand, .introTXT, .welcomeMessage, .nav-item, .hvr-curl-top-left{
    /* font-family: 'Caveat', sans-serif; */
    /* font-family: 'Julius Sans One'; */
    font-family: 'Fredericka the Great';
}

nav{

    -webkit-transition: background-color 0.5s ease-out;
      -moz-transition: background-color 0.5s ease-out;
      -o-transition: background-color 0.5s ease-out;
      transition: background-color 0.5s ease-out;
}

#navBrand{
    font-size: 40px;
    padding: 10px;
    
}
.nav-item{
    padding: 10px 10px 10px 20px;    
}
header{
    background:
         linear-gradient(
           
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 1)
      ), url("/assets/images/img5.jpg") no-repeat center right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: -100;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}
h1{
    text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}
/* h3{
    text-align: center;
    padding-bottom: 100px;
} */

p{
    margin: 0;
  font-size: 1.3rem;
}
main{
    max-width: 500px;
  margin: 20px auto;
  padding-top: 1000px;
}

.navbar.transparent.navbar-expand-lg.navbar-light{
    background: rgba(0,0,0,0.4);
}
.container{
    justify-content: center;
    align-items: center;
}
.introTXT{
    padding-top: 350px;
    color: white;
    
    /*Caveat font is good*/ 
    font-size: 50px;
    margin: 20px;
}


/* .brand1{
  background: url('/assets/images/blob-haikei.png') center center;
}
.brand3{
  background: url('/assets/images/blob-haikei2.png') center center;
} */


.work-card1{
  margin: 2rem;
  border-radius: 20px;
  box-shadow:  50px 50px 100px #d9d9d9,
  -50px -50px 100px #ffffff;
}
.work-card2{
  margin: 2rem;
  border-radius: 20px;
  box-shadow:  50px 50px 100px #d9d9d9,
  -50px -50px 100px #ffffff;
}
.work-card3{
  margin: 2rem;
  border-radius: 20px;
  box-shadow:  50px 50px 100px #d9d9d9,
  -50px -50px 100px #ffffff;
}
.work-info{
  color: black;
  border-radius: 0px 0px 20px 20px;
  background-color: #eaeaea;
  padding: 1rem;
}
.work-img1{
  height: 200px;
  width: 300px;
  object-fit: contain;
}
.work-img2{
  height: 200px;
  width: 300px;
  object-fit: contain;
}
.work-img3{
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.project-name{
  font-weight: 900;
}
.badges{
  margin-bottom: 0.7rem;
}



/* .brand1{
    /* padding: 50px 50px 50px 50px; */
    /* margin-right: 50px; */
    /* border: solid 2px red; */
    /* border-radius: 300px; */
    
/* } */
/* 
.brand3{
    
    margin-right: 50px;
} */
.chickBlind{
    height: 100px;
    width: 200px;
    
}
.prayasLogo{
    height: 100px;
    width: 100px;
}
#about{
    padding: 10px 200px 0px 0px;
    font-weight: bolder;
}
.aboutHeading{
    padding: 10px 10px 30px 10px;
    font-weight: bolder;   
}
.healthKeeper{
    height: 200px;
    width: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.aboutWrapper{
  
  padding: 0px 0px 50px 0px;
  margin: 20px;
  border-radius: 10px ;
  

  
  
  
}



.workWrapper{
    padding-bottom: 100px;
}
.footerTxt{
    text-align: center;
    font-size: 20px;
    padding: 10px 10px 50px 10px;
}
.item.text{
    
    text-align: end;
}

/*FADE EFFECT BUTTON*/

/* .hvr-fade {

    
    background-color: transparent;
    color: white;
    padding: 16px 45px;
    
    left: 30px;
    border: 1px solid white;
    transition: all 0.1s ease-out 0.1s;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: white;

    color: black;
  } */
  
  a{
    text-decoration: none;
  }
  a:link{
   color: white;
  }
  a:visited{
   color: white;
  }
  a:hover{
   color: white;
  }
  a:active{
   color: white;
  }

  .hvr-curl-top-left {
    
    background-color: transparent;
    color: white;
    padding: 16px 45px;
    position: absolute;
    left: 330px;
    border: 3px solid white;
    transition: all 0.1s ease-out 0.1s;
    background-color: transparent;
    color: white;
    padding: 16px 45px;
    left: 30px;
    border: 1px solid white;
    transition: all 0.1s ease-out 0.1s;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
  }
  .hvr-curl-top-left:before {
    pointer-events: none;
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: white;
    
    background: linear-gradient(135deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
    
    z-index: 1000;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: width, height;
    transition-property: width, height;
  }
  .hvr-curl-top-left:hover:before, .hvr-curl-top-left:focus:before, .hvr-curl-top-left:active:before {
    width: 25px;
    height: 25px;
  }
  .working{
    text-align: center;
    padding-bottom: 100px;
    font-size: 2em;

  }
  .pie{
    filter: drop-shadow(3px 3px 3px black);
  }
  
/*////////////////////////////////////////////////////////// ALL MEDIA QUERIES///////////////////////////////////////////// */






@media only screen and (max-width: 600px) {
    .introTXT{
        padding-top: 280px;
        color: white;
        /* font-family: 'Josefin Sans', sans-serif;     */
        font-size: 30px;
    }
}



/* //////////////////////////////////////////////SKILL SECTION BREAKPOINTS///////////////////////////////////////////////////*/




@media only screen and (max-width: 1920px){
    .skillBar1{
        padding-left: 50px;
    }
    .skillBar2{
        padding-left: 50px;
    }
    .skillBar3{
        padding-left: 50px;
    }
    .skillBar4{
        padding: 0px;
    }
    .skillBar5{
        
    }
    .skillBar6{
        margin-left: 400px;
        
    }
}

@media only screen and (max-width: 1200px){
    .skillBar1{
        
    }
    .skillBar2{
        
    }
    .skillBar3{
        
    }
}

@media only screen and (max-width: 992px){
    .skillBar1{
        
    }
    .skillBar2{
        
    }
    .skillBar3{
        
    }
}

@media only screen and (max-width: 768px){
    .skill{
        padding-left: 40px;
    }
    .skillBar1{
        padding-left: 120px;
    }
    .skillBar2{
        padding-left: 120px;
    }
    .skillBar3{
        padding-left: 120px;
    }
}
@media only screen and (max-width: 600px){

    .skillText{
        margin-bottom: 70px;
    }
    .skillBar1{
        padding-top: 0px;   
    }
    .skillBar2{
        padding-top: 60px;
    }
    .skillBar3{
        padding-top: 60px;
    }
}
@media only screen and (max-width: 480px){

  .skillText{
      margin-bottom: 70px;
  }
  .skillBar1{
    
  }
  .skillBar2{
      
  }
  .skillBar3{
      
  }
}





/* /////////////////////////////////////////////////////WELCOME MESSAGE BREAKPOINTS/////////////////////////////////////////*/

@media only screen and (max-width: 480px) {
    .welcomeMessage{
        color: white;
        font-size: 7px;
        padding-top: 20px;
        margin-right: 10px;
        
    }
    #navBrand{
      padding-top: 20px;
    }
    .navbar-toggler{
      margin-top: 20px;
    }

}
@media only screen and (min-width: 600px){
    .welcomeMessage{
        color: white;
        font-size: px;
        padding-top: 0px;
        
        
        
    }
}
@media only screen and (min-width: 768px){
    .welcomeMessage{
        color: white;
        padding-left: 250px;
        margin-right: 20px;
        padding-top: 10px;
        
    }
}

@media only screen and (min-width: 992px){
    .welcomeMessage{
        color: white;
        padding-left: 220px;
        padding-top: 10px;
        
    }  
}

@media only screen and (min-width: 1200px){
    .welcomeMessage{
        color: white;
        
        padding-left: 475px;
        padding-top: 10px;
        
    }
}
@media only screen and (min-width: 1920px){
    .welcomeMessage{
        font-size: 30px;
        color: white;
        text-align: center;
        padding-left: 650px;
        padding-top: 10px;
        
    }
}

/* ./////////////////////////////////////////////////////DOWN ARROW ICON BREAKPOINTS///////////////////////////////////////// */

@media only screen and (max-width: 600px) {
    .material-icons.md-24{
        color: white;
        font-size: 50px;
        text-align: center;
        padding-top: 25px;
        opacity: 1;
        transition: opacity 0.5s ease;
    }

}


@media only screen and (min-width: 600px){
    .material-icons.md-24{
        color: white;
        font-size: 50px;
        text-align: center;
        padding-top: 0px;
        opacity: 1;
        transition: opacity 0.5s ease;
    }
}

@media only screen and (min-width: 768px){
    .material-icons.md-24{
        color: white;
        font-size: 50px;
        text-align: center;
        padding-top: 90px;
        opacity: 1;
        transition: opacity 0.5s ease;
    }
}


@media only screen and (min-width: 992px){
    .material-icons.md-24{
        color: white;
        font-size: 50px;
        text-align: center;
        padding-top: 230px;
        opacity: 1;
        transition: opacity 0.5s ease;
    } 
}

@media only screen and (min-width: 1200px){
    .material-icons.md-24{
        color: white;
        font-size: 50px;
        text-align: center;
        padding-top: 0px;
        opacity: 1;
        transition: opacity 0.5s ease;
    }
}
/* ////////////////////////////////////////////////////NAVBAR BREAKPOINTS/////////////////////////////////////////////// */

@media only screen and (max-width: 480px) {
  .navbar-toggler{
    margin-right: 10px;
  }

}


@media only screen and (min-width: 600px){
  .navbar-toggler{
    margin-right: 20px;
  }
}

@media only screen and (min-width: 768px){
  
}


@media only screen and (min-width: 992px){
   
}

@media only screen and (min-width: 1200px){
  
}

/* ///////////////////////////////////////////////////////TEXT BREAKPOINTS/////////////////////////////////////////////////// */
@media only screen and (max-width: 480px) {
    .skillText{
      
      padding: 0px 0px 100px 50px;
    }
    h2{
      font-size: 50px;
      padding-bottom: 100px;
      text-align: center;
      font-weight: bolder;
    }
    ol{
      padding-top: 20px;
      font-weight: bolder;
    }
    .Txt{
      font-size: 0.7em;
    }

}


@media only screen and (min-width: 600px){
  
  .skillText{
    padding: 0px 0px 100px 50px;
  }
  h2{
    font-size: 50px;
    padding-bottom: 100px;
    text-align: center;
    font-weight: bolder;

  }
  ol{
    padding-top: 50px;
    font-weight: bolder;
  }
  .Txt{
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 768px){
  
}


@media only screen and (min-width: 992px){
   
}

@media only screen and (min-width: 1200px){
  
}

/* //////////////////////////////////////ABOUT TEXT BREAKPOINTS///////////////////////////////////////////////////////////////////   */ 

@media only screen and (max-width: 480px) {
  #aboutTxt{
    font-size: 0.9em;
  }
  #about{
    padding: 0px 50px 50px 50px;
  }

}


@media only screen and (min-width: 600px){
  
}

@media only screen and (min-width: 768px){
  
}


@media only screen and (min-width: 992px){
   
}

@media only screen and (min-width: 1200px){
  
}

/* //////////////////////////////////////////////////CARD BREAKPOINTS///////////////////////////////////////////////////////// */
@media only screen and (max-width: 480px) {
  .col-sm-2{
    padding: 0px 0px 100px 105px;
  }
  .working{
    padding-top: 0px;
  }

}


@media only screen and (min-width: 600px){
  .navbar-toggler{
    margin-right: 20px;
  }
  .col-sm-2{
    
    padding: 0px 200px 0px 120px;
  }
}

@media only screen and (min-width: 768px){
  
}


@media only screen and (min-width: 992px){
   
}

@media only screen and (min-width: 1200px){
  
}

/* h2{
    font-size: 50px;
    padding-bottom: 200px;
    text-align: center;
    font-weight: bolder;
} */

#aboutTxt{
  font-size: 1em;
}

.skill{
    padding: 0px 40px 0px 0px;
    margin-top: 240px;
    
    margin-bottom: 0px;
}
.skillText{
    padding-bottom: 4rem;
    font-size: 1.7rem;
}

.html{
    font-size: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}
.css{
    font-size: 20px;
    padding-left: 55px;
    padding-bottom: 20px;
}
.js{
    font-size: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}
.React{
    font-size: 20px;
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 20px;
}
.flutter{
    font-size: 20px;
    padding-top: 50px;
    padding-left: 45px;
    padding-bottom: 20px;
}
.Angularjs{
    font-size: 20px;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 20px;
}
/*.vl{
    border-left: 3px solid white;
  height: 90px;
  position: absolute;
  left: 230px;
  margin-left: -3px;
  top: 0px;
}*\



/* CARD COMPONENT */

  
  h5
  {
    margin:0px;
    font-size:1.4em;
    font-weight:700;
  }
  
  p
  {
    font-size:12px;
  }
  
  .center
  {
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* End Non-Essential  */
  
  .property-card
  {
    height:18em;
    width:14em;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    position:relative;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius:16px;
    overflow:hidden;
    -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  }
  /* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */
  
  /* Top Half of card, image. */
  #hiddenTxt{
      text-align: center;
      padding: 100px 50px 10px 50px;
      color: black;
      font-size: 20px;
  }
  .property-image
  {
    height:5em;
    width:14em;
    /* padding:1em 2em; */
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url('/assets/images/chickBlindTextWhite.jpg');
    background-size:cover;
    background-repeat:no-repeat;
  }
  
  /* Bottom Card Section */
  
  .property-card{
    /* filter: drop-shadow(2px 2px 1px rgb(68, 67, 67)); */
  }
  .property-description
  {
      /* FAFAFC OLD WHITE */
    background: rgba(198, 191, 191, 0.65);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(198, 191, 191, 0.15);
    /* background-color: rgb(224, 219, 219); */
    height:13em;
    width:14em;
    position:absolute;
    bottom:0em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align:center;
  }
  
  /* Social Icons */
  
  .property-social-icons
  {
    width:1em;
    height:1em;
    background-color:black;
    position:absolute;
    bottom:1em;
    left:1em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  /* Property Cards Hover States */
  
  .property-card:hover .property-description
  {
    height:0em;
    padding:0px 1em;
  }
  .property-card:hover .property-image
  {
    
    width: 14em;
    
  }
  
  .property-card:hover .property-social-icons
  {
    background-color:rgb(75, 133, 207);
  }
  
  .property-card:hover .property-social-icons:hover
  {
    background-color:blue;
    cursor:pointer;
  }
  
  h5
  {
    margin:0px;
    font-size:1.4em;
    font-weight:700;
  }
  
  p
  {
    font-size:12px;
  }
  
  .center
  {
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* End Non-Essential  */
  
  .property-card2
  {
    
    height:18em;
    width:14em;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    position:relative;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius:16px;
    overflow:hidden;
    -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  }
  /* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */
  
  /* Top Half of card, image. */
  
  
  #hiddenTxt{
      text-align: center;
      padding: 100px 50px 10px 50px;
      color: black;
      font-size: 20px;
  }
  .property-image2
  {
    height:15em;
    width:14em;
    /* padding:1em 2em; */
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url('/assets/images/logo.png');
    background-size:cover;
    background-repeat:no-repeat;
  }
  
  /* Bottom Card Section */
  
  .property-image-title2{
      color: black;
    /* filter: drop-shadow(2px 2px 1px rgb(68, 67, 67)); */
  }
  .property-description2
  {
    /* FAFAFC OLD WHITE */
    /* From https://css.glass */
    background: rgba(198, 191, 191, 0.65);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(198, 191, 191, 0.15);

    /* background-color: rgb(224, 219, 219); */
    height:13em;
    width:14em;
    position:absolute;
    bottom:0em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align:center;
  }
  
  /* Social Icons */
  
  .property-social-icons2
  {
    width:1em;
    height:1em;
    background-color:black;
    position:absolute;
    bottom:1em;
    left:1em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  /* Property Cards Hover States */
  
  .property-card2:hover .property-description2
  {
    height:0em;
    padding:0px 1em;
  }
  .property-card2:hover .property-image22
  {
    
    width: 14em;
    
  }
  
  .property-card2:hover .property-social-icons2
  {
    background-color: green;
  }
  
  .property-card2:hover .property-social-icons2:hover
  {
    background-color:blue;
    cursor:pointer;
  }
  
  
  /* Optional
  
  .property-image-title2
  {
  text-align:center;
  position:Relative;
  top:30%;
  opacity:0;
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  color:black;
  font-size:1.2em;
  }
  
  .property-card2:hover .property-image-title2
  {
  opacity:1;
  }
  
  */


  /* FOOTER SECTION */

  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

.ion-location{
  
 margin: 10px 10px 10px 90%; 
 font-size: 2em;
  color: rgb(183, 57, 57);
}



.location{
  font-size: 1em;
   
}

 #myPic{
   border-radius: 10px;
   height: 100%;
   width: 60%;
   margin: 0px 0px 0px 10rem;
  -webkit-box-shadow: 1px 2px 16px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 16px 2px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 16px 2px rgba(0,0,0,0.75);
  
  transition: transform .2s;
 }

 #myPic:hover{
  transform: scale(1.3);
  
 }

 #name{
  font-size: 1.3em;
 }

 #name2{
  font-size: 0.9em;
 }

 #age{
  font-size: 1.3em;
 }

 #age2{
   font-size: 0.9em;
 }

 #likes{
  font-size: 1.3em;
 }

 #likes2{
   font-size: 0.9em;
 }

 #edu{
   font-size: 1.3em;
 }

 #edu2{
   font-size: 0.7em;
 }

 #lives{
   font-size: 1.3em;
 }
 
 #lives2{
   font-size: 0.9em;
 }

 #bio{
   font-size: 1.5em;
 }

 .progressBars{
   visibility: hidden;
 }
.pie{
  visibility: visible;
}

.workHeading{
  font-weight: bold;
  margin: 1rem;
  font-size: 3em;
  text-align: center;
}

.project-links{
  text-decoration: none;
}

 .rounded{
  margin-bottom: 100px;
  border-top: 8px solid #bbb;
  border-radius: 5px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
 }

 .progress-bar{
   margin: 1rem;
 }
  
/* //////////////////////////////////////////////////////////////PRELOADER////////////////////////////////////////////////////////////////////// */
  #preloader{
    background: #000 url(/assets/loader3.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    z-index: 100;
    position: fixed;


  }





  @media only screen and (max-width: 1920px){
    
  }
  
  @media only screen and (max-width: 1200px){
    #myPic{
      
    }
  }
  
  @media only screen and (max-width: 889px){
    #myPic{
      /* margin-right: 200px; */
    }
  }
  
  @media only screen and (max-width: 768px){
    #myPic{
      /* margin-right: 200px; */
    }
  }
  @media only screen and (max-width: 600px){
    #myPic{
      
    }
  }
  @media only screen and (max-width: 595px){
    .aboutHeading{
      text-align: center;
      margin: 7rem 0 1rem 0;
      font-size: 3em;
    }
    #myPic{
      margin: 1rem 0 1rem 0;
      width: 100%;
    }
    #about{
      margin: 1rem;
      padding: 1rem;
      width: 100%;
    }
    #myPic:hover{
      transform: scale(1);
    }
    .work-img1{
      width: 100%;
      object-fit: contain;
    }
    .work-img2{
      width: 100%;
      object-fit: contain;
    }
    .work-img3{
      width: 100%;
      object-fit: cover;
    }
  }
  